*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Yantramanav", System, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

body {
  font-family: "Yantramanav", System, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #fefefe;
  color: #1f1f1f;
  margin: 0;
}

a {
  text-decoration: none;
  color: #127eba;
  cursor: pointer;
}

:focus,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 .italic,
h2 .italic,
h3 .italic,
h4 .italic,
h5 .italic,
h6 .italic {
  font-weight: 400;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 52em) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 1.75rem;
}

@media (min-width: 52em) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 52em) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  margin: 0 0 1rem;
  font-weight: 400;
  line-height: 26px;
  line-height: 1.625rem;
}

.Container {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 76rem;
}

.white {
  color: #fff;
}

.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.center {
  text-align: center !important;
}

@media (max-width: 40em) {
  .xs-hide {
    display: none !important;
  }
}

@media (min-width: 40em) and (max-width: 52em) {
  .sm-hide {
    display: none !important;
  }
}

@media (min-width: 52em) and (max-width: 64em) {
  .md-hide {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 0.875rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.container {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 76rem;
}

.btn {
  padding: 0.75rem 1rem;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.125;
  text-align: center;
  text-decoration: none;
  border: 0.0625rem solid transparent;
  border-radius: 4px;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: all 0.25s ease;
}

.btn {
  font-family: Yantramanav, System, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  height: auto;
  border: 0.0625rem solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn-primary {
  background-color: #448b9f;
  color: #fefefe;
}

.btn-block {
  display: block;
  max-width: none;
}

.btn-blue-darker {
  background-color: #03324a;
  color: #fff;
}

.btn-small {
  padding: 0.65rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.button.button-rounded {
  border-radius: 6px;
}

.button-blue {
  background-color: #002040;
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  margin: 5px;
  padding: 0 22px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: #002040;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* --header styles-- */

.header {
  width: 100%;
  color: #085177;
  transition: all 0.35s ease;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 -0.25rem 1.5rem 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 52em) {
  .header {
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),
      0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
    color: #085177;
  }
}

/* Top header bar */

.header-top {
  overflow: hidden;
  background-color: #222222;
}

.header .header-top .container {
  display: flex;
  height: 3.125rem;
  padding: 0 0 0 0.75rem;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 52em) {
  .header .header-top > .container {
    height: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.logo {
  position: relative;
  display: block;
  padding-left: 2.125rem;
  line-height: 1;
  color: #1f1f1f;
}

@media (min-width: 52em) {
  .logo {
    padding-left: 2.75rem;
  }
}

.logo-text {
  display: block;
  font-size: 1.25rem;
  white-space: nowrap;
  color: inherit;
}

@media (min-width: 52em) {
  .logo-text {
    font-size: 1.75rem;
  }
}

.logo-text-secondary {
  margin-left: -0.25rem;
  font-weight: 700;
  color: inherit;
}

.header-cta {
  display: none;
  align-items: center;
  font-family: Yantramanav, System, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  color: #fff;
}

@media (min-width: 52em) {
  .header-cta {
    display: flex;
  }
}

.header-cta-text-box {
  margin-right: 1rem;
  text-align: right;
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.125);
  padding-right: 1rem;
}

.header-cta-text {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1;
}

.header-cta-phone-number {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  text-decoration: none;
  color: #fff;
}

.header-cta-icon {
  height: auto;
  width: 1.125rem;
  margin-right: 0.25rem;
}

.header-cta-icon path {
  fill: #fff;
}

.header-cta-disclosure {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8125rem;
  line-height: 1;
  text-decoration: none;
  outline: none;
  color: #085177;
}

.header-cta-disclosure .fa {
  margin-right: 0.25rem;
}

/* --Navigation-- */

.navigation {
  position: relative;
  display: flex;
  height: 56px;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 0.875rem;
  list-style-type: none;
  background-color: #ededed;
}

@media (min-width: 52em) {
  .navigation {
    position: relative;
    display: flex;
    height: 64px;
    height: 4rem;
    width: auto;
    justify-content: space-between;
    font-size: 1.125rem;
  }
}

.navigation-menu {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  max-width: 76rem;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  order: 2;
  list-style: none;
}

@media (min-width: 52em) {
  .navigation-menu {
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: row;
    align-items: stretch;
    order: 1;
  }
}

.navigation-item {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  flex-wrap: wrap;
  align-items: stretch;
  color: #085177;
}

.navigation-item:active,
.navigation-item:focus,
.navigation-item:hover {
  background-color: #085177;
  color: #fefefe;
}

.navigation-item:hover .navigation__submenu {
  display: flex;
}

.navigation__submenu-container:before,
.navigation__submenu-container:after {
  box-sizing: border-box;
}

.navigation-item:hover {
  transition: all 0.25s ease;
}

.navigation-item:first-child .navigation-item-link:before,
.navigation-item:last-child .navigation-item-link:after {
  display: none;
  transform: translateY(-50%);
}

@media (min-width: 52em) {
  .navigation-item:first-child .navigation-item-link:before,
  .navigation-item:last-child .navigation-item-link:after {
    display: block;
  }
}

@media (max-width: 52em) {
  .navigation-item:nth-last-child(2) .navigation-item-link:after {
    display: none;
  }
}

/*navigation menus*/

.navigation__submenu {
  display: none;
  position: absolute;
  border: 0;
  flex-direction: row;
  overflow: auto;
  padding: 2rem;
  right: 0;
  left: 0;
  width: auto;
  max-height: calc(var(--vh) * 100 - 6.625rem);
  top: 100%;
  background-color: #085177;
  font-size: 1rem;
  color: #fefefe;
}

.navigation__submenu-container {
  display: flex;
  padding: 0 1rem;
  flex-direction: row;
  max-width: 76rem;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
}

.navigation__submenu-menu {
  margin: 0;
  padding: 0 2rem 0 0;
  width: 40%;
  flex-direction: column;
}

.Form--submenu {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.Form__input {
  border-radius: 0.25rem 0 0 0.25rem;
  display: block;
  height: auto;
  min-height: 0;
  min-width: 0;
  padding: 0.5rem 0.75rem;
  width: 100%;
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fefefe;
  border: 0.0625rem solid #b3b3bb;
  color: #707070;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #448b9f;
  color: white !important;
  -webkit-appearance: button;
  font-family: inherit;
  font-style: normal;
  text-decoration: none;
  margin: 0;
  height: auto;
  white-space: nowrap;
  border-color: #002040;
}

.btn:hover {
  background-color: #2d5e6d;
  color: white;
  text-shadow: none;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  text-align: center;
}

.navigation__subpanel {
  margin-top: 0;
  padding: 0 0 0 2rem;
  width: 60%;
  border-top: 0;
  border-left: 0.0625rem solid hsla(0, 0%, 100%, 0.25);
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation__subpanel-title {
  margin-bottom: 0;
  padding-bottom: 1rem;
  width: 100%;
  font-weight: 600;
  line-height: 1;
}

.Card--rehab-submenu {
  height: auto;
  background-color: #127eba;
  color: #fefefe;
  width: 100%;
  padding: 0;
  flex-direction: row;
  font-size: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  text-align: left;
  border: 0.0625rem solid #127eba;
  border-radius: 0.1875rem;
  transition: transform 0.25s ease;
}

.Card__thumbnail {
  height: auto;
  max-height: none;
  order: 2;
  margin: 0;
  width: 50%;
  background-color: #085177;
  position: relative;
}

.Card__img {
  height: 100%;
  max-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "object-fit:cover;object-position:center";
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  border-style: none;
}

.Card__content {
  width: 50%;
  padding-right: 1.5rem;
  order: 1;
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.Card__heading {
  margin-bottom: 0.5rem;
  font-family: Domine, System, serif;
  font-size: 1.25rem;
  line-height: 1.5;
  height: 4.5rem;
  width: 100%;
  font-weight: 600;
}

.Card__meta {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  line-height: 1;
  border-bottom: 0.0625rem solid hsla(0, 0%, 100%, 0.5);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  width: 100%;
  font-weight: 300;
}

.Card__link {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  margin: auto 0 0;
  width: 100%;
  line-height: 1;
  font-weight: 300;
}

.Card__link a {
  color: inherit;
  text-decoration: none !important;
  background-color: transparent;
  cursor: pointer;
}

.navigation__submenu-list {
  width: 100%;
  break-inside: avoid;
  list-style: none;
  color: inherit;
}

.navigation__submenu-list--two-col {
  column-count: 4;
}

.navigation__submenu-list-item {
  margin-bottom: 0.75rem;
  padding: 0;
}

.second {
  width: 100%;
}

.menulink {
  color: white;
  text-decoration: none;
}

.QuestionsList {
  font-size: 1rem;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  /* padding-right: 15px; */
  padding-left: 15px;
  column-count: 2;
  column-gap: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}

.QuestionsList__item {
  position: relative;
  margin-bottom: 1rem;
}

.QuestionsList__link {
  border-color: #fefefe;
  color: #fefefe;
  display: block;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid;
  transition: background-color 0.2s ease;
  text-decoration: none !important;
  background-color: transparent;
}

.QuestionsList > li:last-child {
  margin-bottom: 0;
}

.Form--horizontal {
  display: flex;
  justify-content: center;
}

.icon-menu-item {
  height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 1.5rem;
}

.icon-menu-item path {
  fill: #127eba;
}

@media (min-width: 52em) {
  .icon-menu-item {
    margin-right: 0.25rem;
    margin-left: 0;
  }
}

.navigation-item-text {
  display: block;
  margin-top: 0.25rem;
  width: 100%;
  font-size: 0.85em;
  line-height: 1;
}

.navigation-item-link {
  position: relative;
  z-index: 1000;
  display: flex;
  padding: 0.5rem 0.25rem;
  width: 100%;
  align-items: center;
  flex: 1 1 0%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: inherit;
}

@media (min-width: 52em) {
  .navigation-item-link {
    padding: 0.75rem 0.5rem;
  }
}

.navigation-item-link:after,
.navigation-item-link:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  height: 32px;
  height: 2rem;
  width: 1px;
  width: 0.0625rem;
  background-color: #085177;
  transform: translateY(-50%);
}

@media (min-width: 52em) {
  .navigation-item-link:after,
  .navigation-item-link:before {
    height: 16px;
    height: 1rem;
  }
}

.navigation-item-link:before {
  left: 0;
  transform: translate(-0.03125rem, -50%);
}

.navigation-item-link:after {
  right: 0;
  transform: translate(0.5px, -50%);
  transform: translate(0.03125rem, -50%);
}

.navigation-item-text {
  display: block;
  margin-top: 0.25rem;
  width: 100%;
  font-size: 0.85em;
  line-height: 1;
}

@media (min-width: 52em) {
  .navigation-item-text {
    margin-top: 0;
    width: auto;
    font-size: 1em;
    line-height: inherit;
  }
}

.fa-angle-down:before {
  content: "\F107";
}

[class*=" fa"]:before,
[class^="fa"]:before {
  font-family: FontAwesome !important;
}

.navigation-item-link .navigation-item-toggle {
  display: none;
  margin: 0 auto;
  padding: 0;
  line-height: 1;
  border: 0;
  background: transparent;
  color: inherit;
}

@media (min-width: 52em) {
  .navigation-item-link .navigation-item-toggle {
    display: block;
    margin: 0 0 0 0.25rem;
  }
}

[id="nav-item-search"] {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 100%;
  left: auto;
  display: flex;
  height: 100%;
}

@media (min-width: 52em) {
  [id="nav-item-search"] {
    position: static;
    display: flex;
    height: auto;
  }
}

@media (max-width: 52em) {
  [id="nav-item-search"] .navigation-item-link {
    padding: 0;
    width: 75px;
    width: 4.6875rem;
  }
}

@media (max-width: 52em) {
  [id="nav-item-search"] .navigation-item-link:after,
  [id="nav-item-search"] .navigation-item-link:before,
  [id="nav-item-search"] .navigation-item-text {
    display: none;
  }
}

@media (max-width: 52em) {
  [id="nav-item-search"] .navigation-item-link:after,
  [id="nav-item-search"] .navigation-item-link:before,
  [id="nav-item-search"] .navigation-item-text {
    display: none;
  }
}

.navigation-item:hover .icon-menu-item path,
.navigation__item--active .icon--menu-item polygon,
.navigation__item--active .icon--menu-item rect,
.navigation__item:hover .icon--menu-item path,
.navigation__item:hover .icon--menu-item polygon,
.navigation__item:hover .icon--menu-item rect {
  fill: currentColor;
}

/*Newsletter part ==========================================*/

#content {
  padding-top: 6.625rem;
}

@media (min-width: 52em) {
  #content {
    padding-top: 10rem;
  }
}

.newsalert {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0.75rem 0;
  background-color: #8fe2f4;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
  color: #03324a;
}

@media (min-width: 52em) {
  .newsalert {
    padding: 1.25rem 0;
  }
}

.newsalert .newsalert-message {
  display: flex;
  margin: 0 auto;
  max-width: 64rem;
  padding: 0 0.75rem;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  font-size: 0.875rem;
  line-height: 1;
  text-align: left;
}

@media (min-width: 52em) {
  .newsalert .newsalert-message {
    padding: 0 1rem;
    font-size: 1.125rem;
    text-align: center;
  }
}

.newsalert-message .newsalert-message-prefix {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
}

@media (min-width: 52em) {
  .newsalert-message .newsalert-message-prefix {
    display: inline-block;
    font-size: 1.125rem;
  }
}

.newsalert-icon {
  height: auto;
  margin-right: 0.5rem;
  min-width: 1.5625rem;
  width: 1.5625rem;
}

@media (min-width: 52em) {
  .newsalert-icon {
    min-width: 1.875rem;
    width: 1.875rem;
  }
}

.newsalert-icon .newsalert-icon-color-2 {
  fill: #085177;
}

.newsalert-icon .newsalert-icon-color-1 {
  fill: #75b9e2;
}

.newsalert-icon .newsalert-icon-color-3 {
  fill: #fefefe;
}

.newsalert-message-content {
  margin-right: 0.5rem;
}

@media (min-width: 52em) {
  .newsalert-message-content {
    margin-right: 1rem;
  }
}

.newsalert-message-prefix {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.newsalert-btn {
  max-width: 7.8125rem;
  width: 100%;
  padding: 0.5rem 0.3rem;
  font-size: 0.75rem;
}

@media (min-width: 40em) {
  .newsalert-btn {
    max-width: 14.0625rem;
  }
}

@media (min-width: 52em) {
  .newsalert-btn {
    max-width: 15.625rem;
    padding: 0.65rem 1rem;
    font-size: 0.875rem;
  }
}

/*-----------------Hero -------------------------*/

.hero {
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-color: #08293c;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .photo {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #b3b3bb;
  border-radius: 0.125rem;
}

.hero .photo > img {
  display: block;
  height: 100%;
  width: 100%;
  font-family: "object-fit:cover";
  object-fit: cover;
  pointer-events: none;
}

.hero .photo:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: "";
  background-color: #127eba;
  opacity: 0.5;
}

.hero > .container {
  z-index: 1;
  max-width: 64rem;
  padding: 6rem 0 0;
  width: 100%;
  flex-direction: column;
  flex: 1 auto;
}

@media (min-width: 52em) {
  .hero > .container {
    padding: 10rem 0 0;
  }
}

.hero,
.hero > .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  margin: 0 0 1rem;
  max-width: 48rem;
  padding: 0 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  color: #fefefe;
}

@media (min-width: 40em) {
  .hero-title {
    margin: 0 0 2rem;
    padding: 0;
    font-size: 3rem;
  }
}

.hero-subtitle {
  margin: 0;
  max-width: 48rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #fefefe;
}

@media (min-width: 52em) {
  .hero-subtitle {
    padding: 0;
  }
}

@media (max-width: 52em) {
  .sm-hide {
    display: none !important;
  }
}

@media (min-width: 52em) {
  .md-hide {
    display: none !important;
  }
}

.split-cta-hero {
  position: static;
  z-index: 1;
  margin: 6rem auto 0;
  border-radius: 0;
}

@media (min-width: 52em) {
  .split-cta-hero {
    margin: 10rem auto -3rem;
    max-width: 60.5rem;
    width: 100vw;
    border-radius: 0.25rem;
  }
}

.split-cta {
  display: flex;
  max-width: 60.5rem;
  padding: 1.5rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  background-color: #fefefe;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  color: #1f1f1f;
}

@media (min-width: 52em) {
  .split-cta {
    padding: 1.5rem 3rem;
    flex-direction: row;
  }
}

.split-cta-heading {
  margin-bottom: 1.5rem;
  width: 100%;
  font-family: Domine, System, serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

@media (min-width: 52em) {
  .split-cta-heading {
    font-size: 1.5rem;
  }
}

.split-cta-form,
.split-cta-left,
.split-cta-left .btn {
  width: 100%;
}

@media (min-width: 52em) {
  .split-cta-form,
  .split-cta-left {
    width: 45%;
  }
}

.split-cta-label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.03125rem;
  text-align: center;
}

.split-cta-or {
  margin-bottom: 0;
  padding: 1rem 0;
  width: 100%;
  font-family: Domine, System, serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 52em) {
  .split-cta-or {
    padding: 0;
    width: 10%;
    transform: translateY(0.75rem);
  }
}

.form-horizontal {
  display: flex;
  justify-content: center;
  max-width: 23.4375rem;
}

.form {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.form-horizontal .form-input,
.form-horizontal .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: auto;
  border-radius: 0 0.25rem 0.25rem 0;
}

.form-input,
.form-textarea,
.form-select {
  display: block;
  height: auto;
  min-height: 0;
  min-width: 0;
  padding: 0.5rem 0.75rem;
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  background-color: #fefefe;
  border: 0.0625rem solid #b3b3bb;
  color: #707070;
}

/*Map section */

.home-section {
  position: relative;
  padding: 3.75rem 0;
  background-color: #fefefe;
}

.section-map {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 0;
  background-color: #085177;
  color: #fefefe;
}

@media (min-width: 52em) {
  .section-map {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: left;
  }
}

.USMap {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 0;
  height: auto;
  margin: 0 auto;
  max-width: 64rem;
  width: 85%;
  opacity: 0.1;
  transform: translateX(-50%);
}

.USMap .USMap__markers path {
  fill: #085177;
}

.section-map .container {
  z-index: 2;
}

.section-map-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 52em) {
  .section-map-text {
    margin-bottom: 4rem;
    width: 50%;
  }
}

.states {
  padding-bottom: 2rem;
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 52em) {
  .states {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 0;
  }
}

.state-links {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.state-links > li {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 50%;
}

@media (min-width: 40em) {
  .state-links > li {
    width: 33.33333%;
  }
}

@media (min-width: 52em) {
  .state-links > li {
    width: 25%;
  }
}

@media (min-width: 64em) {
  .state-links > li {
    width: 20%;
  }
}

.state-links > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.25s ease;
}

.state-links > li > a .fa {
  transition: transform 0.15s ease;
}

/* Featured section */

.section-featured {
  position: relative;
  padding: 1rem 0 0;
  background-color: #fefefe;
}

@media (min-width: 52em) {
  .section-featured {
    padding: 2rem 0;
  }
}

.section-featured h2 {
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #085177;
  text-align: center;
  margin: 0 0 1rem;
}

@media (min-width: 52em) {
  .section-featured h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
}

.rehabs-search {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #fefefe;
  margin-bottom: 0 !important;
}

.rehabs-search-form {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 52em) {
  .rehabs-search-form {
    margin-bottom: 0;
    width: 30%;
  }
}

/* section rehabs search */

.section-rehabs-search {
  position: relative;
  padding: 1rem 0 0;
  background-color: #fefefe;
}

@media (min-width: 52em) {
  .section-rehabs-search {
    padding: 2rem 0;
  }
}

.section-rehabs-search h2 {
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #085177;
  text-align: center;
  margin: 0 0 1rem;
}

@media (min-width: 52em) {
  .section-rehabs-search h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 100%;
}

.Card--sponsored-home {
  top: 12px;
  top: 0.75rem;
  margin-top: 0.5rem;
  position: relative;
}

@media (min-width: 52em) {
  .Card--sponsored-home {
    top: 1.5rem;
    padding-left: 1.25rem;
  }
}

.Card--sponsored-home .header-cta-disclosure {
  font-size: 0.9375rem;
  justify-content: flex-start;
}

.card-bottom-bar {
  border-bottom: 5px solid #002040;
}

.card-img-caption {
  position: relative;
}

.ohidden {
  position: relative;
  overflow: hidden !important;
}

.card .card-img-caption img {
  transform: scale(1);
  transition: 1.5s ease;
}

.card-img-caption .card-img-top {
  z-index: 0;
}

.card-title {
  font-size: 1rem !important;
  line-height: 100% !important;
  height: 48px;
}

.card-title a {
  text-decoration: none !important;
  color: #002040;
  font-weight: bold;
  line-height: 1.5;
  font-family: sans-serif;
}

.bgcolor,
.bgcolor #header-wrap {
  background-color: #002040 !important;
}

.card-text .badge {
  font-weight: bold;
  border: 1px solid #ddd;
}

/* Video section*/

.PageSection__video,
.PageSection__video .PageSection__video__container {
  position: relative;
}

.PageSection__video {
  overflow: hidden;
  background-color: #ededed;
}

.PageSection__video .PageSection__video__content {
  position: relative;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 52em) {
  .PageSection__video .PageSection__video__content {
    width: 50%;
  }
}

.PageSection__video .PageSection__video__bg {
  position: static;
  display: flex;
  /* height: 275px;
  height: 17.1875rem; */
  margin-left: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  background-position: 50%;
  background-size: cover;
}

@media (min-width: 52em) {
  .PageSection__video .PageSection__video__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: 50%;
    background-position: 100%;
  }
}

.videoWrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 50.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: none !important;
}

.EditorContent {
  font-size: 1.125rem;
  padding: 3.75rem 0;
}

@media (min-width: 52em) {
  .PageSection__video .PageSection__video__content {
    padding: 2.5rem 0;
    width: 50%;
  }
}

.editorcontent > h3:first-child {
  margin-top: 0;
}

.PageSection__video .PageSection__video__title {
  margin-bottom: 2rem;
  color: #085177;
}

.EditorContent > h3 {
  margin: 2rem 0 1rem;
}

.PageSection__video .PageSection__video__content > p:last-of-type {
  margin-bottom: 0;
}

.PageSection__video .PageSection__video__content:after {
  content: " ";
  position: absolute;
  top: -8.9375rem;
  right: 0;
  z-index: 1;
  height: 9rem;
  width: 100vw;
  background: linear-gradient(180deg, transparent, #ededed);
}

@media (min-width: 52em) {
  .PageSection__video .PageSection__video__content:after {
    top: 0;
    right: auto;
    bottom: 0;
    left: -350px;
    left: -21.875rem;
    height: auto;
    width: 350px;
    width: 21.875rem;
    background: linear-gradient(90deg, transparent, #ededed);
  }
}

@media (min-width: 52em) {
  .PageSection__video .PageSection__video__content {
    padding: 7.5rem 0;
    width: 50%;
  }
}

.PageSection__split-menu {
  position: relative;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #085177;
}

@media (min-width: 52em) {
  .PageSection__split-menu {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.PageSection__split-menu .container {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 76rem;
}

.SplitMenu {
  display: flex;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  background-color: #fefefe;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  border-radius: 0.25rem;
  color: #1f1f1f;
}

.SplitMenu__col {
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
  text-align: center;
  transition: box-shadow 0.25s ease;
}

@media (min-width: 52em) {
  .SplitMenu__col {
    padding: 2rem;
    width: 50%;
  }
}

.SplitMenu__col:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
}

.SplitMenu__col ul:not(.SplitMenu__list) li:before {
  content: " ";
  position: absolute;
  top: 10px;
  top: 0.625rem;
  left: -26px;
  left: -1.625rem;
  display: block;
  height: 2px;
  height: 0.125rem;
  width: 1rem;
  background-color: #127eba;
}

.SplitMenu__col--left {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.125);
}

@media (min-width: 52em) {
  .SplitMenu__col--left {
    border-right: 0.0625rem solid rgba(0, 0, 0, 0.125);
    border-bottom: 0;
  }
}

.SplitMenu__col--right {
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.125);
}

@media (min-width: 52em) {
  .SplitMenu__col--right {
    border-top: 0;
    border-left: 0.0625rem solid rgba(0, 0, 0, 0.125);
  }
}

.SplitMenu__heading {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (min-width: 52em) {
  .SplitMenu__heading {
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }
}

.SplitMenu__list {
  margin: auto 0 0;
  padding: 0;
  list-style-type: none;
}

.SplitMenu__list li {
  margin-bottom: 0.5rem;
}

.SplitMenu__list li:last-child {
  margin-bottom: 0;
}

.SplitMenu__list a {
  text-decoration: none !important;
  color: #002040;
}

/* blog section */

.PageSection {
  position: relative;
  padding: 3.75rem 0;
  background-color: #fefefe;
}

.PageSection--blog-latest-posts {
  padding: 3.5rem 0 1.75rem;
  background-color: #ededed;
}

.PageSection--blog-latest-posts .catd-title {
  font-size: 1rem;
}

.CardStack__heading {
  margin: 0 1rem 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 0.0625rem solid #b3b3bb;
}

.icon-calendar3:before {
  content: "\f073";
}

/* Footer cta */

.HomePage__footer-cta {
  position: relative;
  padding: 4rem 0;
  overflow: hidden;
  text-align: center;
  background-color: #085177;
  background-size: cover;
  background-position: 50%;
  color: #fefefe;
}
.HomePage__footer-cta .split-cta-heading {
  font-family: Poppins, sans-serif;
}
.Container--lvl4 {
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 1rem auto;
  max-width: 48rem;
}

.split-cta-left {
  margin: 2rem auto;
}

/*Newsletter cta*/

.NewsletterCTA {
  padding: 2rem 0;
  background-color: #127eba;
  color: #fefefe;
}

.NewsletterCTA .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.NewsletterCTA .NewsletterCTA__col {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 52em) {
  .NewsletterCTA .NewsletterCTA__col {
    margin-bottom: 0;
    padding-right: 1rem;
    width: auto;
    text-align: left;
  }
}

@media (min-width: 52em) {
  .NewsletterCTA .NewsletterCTA__col:first-child {
    width: auto;
  }
}

@media (min-width: 52em) {
  .NewsletterCTA .NewsletterCTA__col:last-child {
    padding-left: 1rem;
    max-width: 425px;
    max-width: 26.5625rem;
    width: 100%;
  }
}

.NewsletterCTA .NewsletterCTA__col:last-child {
  margin-bottom: 0;
}

.NewsletterCTA .NewsletterCTA__heading {
  margin: 0;
  font-size: 1.5rem;
}

.NewsletterCTA .NewsletterCTA__desc {
  margin-bottom: 0;
  font-size: 1.25rem;
}

.Form {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.Form--horizontal {
  display: flex;
  justify-content: center;
}

.Form--horizontal .btn,
.Form--horizontal .Form__btn,
.Form--horizontal .Form__button,
.Form--horizontal .Form__submit,
.Form--horizontal [type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Form .btn,
.Form [type="submit"] {
  box-shadow: none;
  white-space: nowrap;
}

.btn-blue-dark {
  background-color: #085177;
  color: #fff;
}

.NewsletterCTA .Form {
  width: 100%;
}

.Form__input,
.Form__select,
.Form__textarea {
  display: block;
  height: auto;
  min-height: 0;
  min-width: 0;
  padding: 0.5rem 0.75rem;
  width: 100%;
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fefefe;
  border: 0.0625rem solid #b3b3bb;
  border-radius: 4px;
  border-radius: 0.25rem;
  color: #707070;
}

/* Footer coding */

.Footer {
  padding-top: 2rem;
  font-size: 0.85rem;
  background-color: #222222;
  color: white;
}

@media (min-width: 52em) {
  .Footer {
    padding-top: 3rem;
    font-size: 1rem;
  }
}

.Footer__bottom .Container {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

@media (min-width: 52em) {
  .Footer__bottom .Container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.Footer__copyright {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
}

.Footer__copyright [class*="__copyright"] {
  display: block;
}

.Footer__copyright .phone-number {
  margin-top: 0.5rem;
  line-height: 1.25;
  border-color: #c4ebf7;
}

.Footer__social-media {
  display: flex;
  margin: 0 auto 2rem;
  width: 250px;
  width: 15.625rem;
  justify-content: center;
  color: #fefefe;
}

.Footer__social-media .Footer__social-media__icon {
  width: 33.33333%;
  text-align: center;
}

.Footer__social-media .Footer__social-media__icon > a {
  color: #fefefe;
}

.Footer__social-media .fa {
  font-size: 1.5rem;
}

.Footer__menu-secondary {
  display: flex;
  margin: 0 0 2rem;
  padding-left: 0;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-align: center;
}

@media (min-width: 52em) {
  .Footer__menu-secondary {
    flex-direction: row;
  }
}

.Footer__menu-secondary .menu-item {
  display: block;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  line-height: 1;
}

@media (min-width: 52em) {
  .Footer__menu-secondary .menu-item {
    margin-bottom: 0;
    border-right: 0.0625rem solid #c4ebf7;
  }
}

.Footer__menu-secondary .menu-item a {
  color: #fefefe;
}

.Footer__button-menu {
  display: flex;
  margin: 0 0 2rem;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.Footer__button-menu > li {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 52em) {
  .Footer__button-menu > li {
    margin-bottom: 0;
    width: auto;
  }
}

.Footer__button-menu .btn {
  display: flex;
  padding: 0.35rem 0.5rem;
  align-items: center;
  justify-content: center;
}

.Footer__button-menu .btn svg {
  height: 100vh;
  margin-right: 0.25rem;
  max-height: 16px;
  max-height: 1rem;
  max-width: 16px;
  max-width: 1rem;
  width: 100vw;
}

.Footer__button-menu .btn svg path {
  fill: #fefefe;
}

.Footer__disclaimer {
  margin: 0 auto;
  max-width: 48rem;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
}

.pac-target-input {
  border-radius: 0.25rem 0 0 0.25rem !important;
}
/* Mobile sticky cta */
.MobileFlyout {
  position: fixed;
  bottom: 0;
  z-index: 6;
  display: flex;
  padding: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #222222;
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 -0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 -0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
  color: #fefefe;
  transition: transform 0.1s ease;
  visibility: visible;
}
@media (min-width: 52em) {
  .MobileFlyout {
    display: none;
  }
}

.MobileFlyout__cta {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  text-align: right;
}
.MobileFlyout__copy {
  margin-bottom: 0;
  padding-right: 0.5rem;
  width: 50%;
  line-height: 1.2;
  text-align: left;
}
.MobileFlyout__number {
  width: 50%;
  font-size: 1.5rem;
  line-height: 1.4;
}
p:last-child {
  margin-bottom: 0;
}
